# =======================
# BACKUP CONFIG FILE
# =======================

# Where all backup files will be stored
# This destination folder must be writable by the user running the script.
BACKUP_DEST="$HOME/backups"

# Patterns or folders that should be skipped during backup
# Useful for ignoring large unnecessary folders.
# Enter multiple items separated by commas.
EXCLUDE_PATTERNS=".git,node_modules,.cache"

# Number of daily backups to keep
# Example: 7 means the script will keep backups from the last 7 days.
DAILY_KEEP=7

# Number of weekly backups to keep
# Example: 4 means keep one backup per week for the last 4 weeks.
WEEKLY_KEEP=4

# Number of monthly backups to keep
# Example: 3 means keep one backup per month for last 3 months.
MONTHLY_KEEP=3

# (Optional Feature for later)
# Enter an email here if you want to send notification alerts.
# Leave blank if not used.
EMAIL_NOTIFICATION=""

